.header {
  height: 40px;
  padding: 0.6em;
}

.header__title {
  display: inline-flex;
}

.header__button-container {
  display: inline-flex;
  float: right;
}

.header__button {
}

.header__button--back {
}
